<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dicebox Games</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
  <script src="https://unpkg.com/htmx.org@1.9.4"></script>
</head>
<body>

  <section class="section">
    <div class="column is-one-third is-offset-one-third">
      <img src="{{ url_for('static',filename='images/dicebox.png') }}" alt="Dicebox Logo">
    </div>

    <form hx-boost="true" hx-get="/search" hx-trigger="change delay:250ms" hx-target="#results">
    
    <div class="columns">
      <div class="column is-one-quarter">
          Search
          <input type="text" class="input" placeholder="Search" name="q">
        </div>

        <div class="column is-one-quarter">
          Number of players
          <select name="players" id="players" class="input">
            <option></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6+">6+</option>
          </select>
        </div>

        <div class="column is-one-quarter">
          Category 
          <select name="category" id="category" class="input">
            <option></option>
            <option value="Action">Action</option> 
            <option value="Card">Card</option>
            <option value="Dice">Dice</option>
            <option value="Fantasy">Fantasy</option>
            <option value="History">History</option>
            <option value="Horror">Horror</option> 
            <option value="Maze"> Maze</option>
            <option value="Music">Music</option> 
            <option value="Party">Party</option> 
            <option value="Puzzle">Puzzle</option> 
            <option value="Real-time">Real-time</option>
            <option value="Sci-Fi">Sci-Fi</option>
            <option value="Sport">Sport</option> 
            <option value="Strategy">Strategy</option>
            <option value="Trivia">Trivia</option> 
            <option value="War">War</option>
          </select>
        </div>


        <div class="column is-one-quarter">
          Mechanic
          <select name="mechanic" id="mechanic" class="input">
            <option></option>
            <option value="Asymmetric">Asymmetric</option>
            <option value="Betting">Betting</option>
            <option value="Chance">Chance</option>
            <option value="Co-op">Co-op</option>
            <option value="Deck building">Deck building</option>
            <option value="Drawing">Drawing</option>
            <option value="Memory">Memory</option>
            <option value="Negotiation">Negotiation</option>
            <option value="Politics">Politics</option>
            <option value="Race">Race</option>
            <option value="Real-time">Real-time</option>
            <option value="Role play">Role play</option>
            <option value="Solo">Solo</option>
            <option value="Team">Team</option>
            <option value="Trading">Trading</option>
          </select>
        </div>

      </div>
    </form>


    </section>
  </section>

 
  <section class="section" style="min-height:100vh">
  
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Players</th>
        </tr>
      </thead>
      <tbody id="results">

      </tbody>
    </table>
  </section>

  <div hx-boost="true" hx-get="/load" hx-trigger="load" hx-target="#results">

</body>

</html>